html {
  height: 100%;

}
body {
  background-color: rgb(255,255,255);
  position: relative;
  min-height: 100%;
  margin: 0;
}

h1 {
  color: rgb(200,0,0);
  font-family: fantasy;
  font-size: 45px;
  text-align: center;
  font-style: oblique;
  text-decoration: underline;
  padding-bottom: none;
}

h2 {
    color: rgb(200,0,0);
    font-family: fantasy;
    font-style: oblique;
    text-align: center;
}

h3 {
    color: rgb(200,0,0);
    font-family: fantasy;
    font-size: 30px;
    font-style: oblique;
    text-decoration: underline;
    text-align: left;
}

h4 {
    font-family: sans-serif;
    font-style: oblique;
    font-size: 30px;
    padding-bottom: 200px;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: bold;
    text-align: center;
}

p {
  color: black;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 25px;
  text-align: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0,100,255);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

nav li a:hover {
    background-color: rgb(0,0,200);
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(0,100,255);
  height: 100px;
  width: 100%;
  padding-top: 10px;
  color: white;
  font-family: sans-serif;
  font-style: oblique;
  text-align: center;
}

.homepic {
    text-align: center;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10%;
    grid-template-areas:
    "pep_image pepporoni"
    "cheese_image cheese"
    "meats_image meats"
    "bbq_image bbq"
    "garlic_image garlic"
}
.pepporoni{
    grid-area: pepporoni;
    padding-right: 15%;
    padding-top: 10%;
}
.cheese{
    grid-area: cheese;
    padding-right: 15%;
}
.meats{
    grid-area: meats;
    padding-right:15%;
}
.bbq{
    grid-area: bbq;
    padding-right: 15%;
}
.garlic{
    grid-area: garlic;
    padding-bottom: 25%;
    padding-right: 15%;
}
.pep_image{
    grid-area: pep_image;
    padding-left: 25%;
    padding-top: 10%;
}
.cheese_image{
    grid-area: cheese_image;
    padding-left: 25%;
}

.meats_image{
    grid-area: meats_image;
    padding-left: 25%;
}

.bbq_image{
    grid-area: bbq_image;
    padding-left: 25%;
}
.garlic_image{
    grid-area: garlic_image;
    padding-left: 25%;
    padding-bottom: 35%;
}

.grid2{
    display: grid;
    grid-template-columns: 25% 300px 350px 25%;
    grid-template-rows: 25px 1fr 1fr 1fr 1fr 1fr 150px;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    grid-template-areas:
    ". . . ."
    ". pep_3 pepporoni ."
    ". cheese_3 cheese ."
    ". meats_3 meats ."
    ". bbq_3 bbq ."
    ". garlic_3 garlic ."
    ". . . ."
}

.pep_3{
    grid-area: pep_3;
}
.cheese_3{
    grid-area: cheese_3;
}
.meats_3{
    grid-area: meats_3;
}
.bbq_3{
    grid-area: bbq_3;
}
.garlic_3{
    grid-area: garlic_3;
}
strong{
    font-size: 50px;
}
.order{
    text-align: center;
    font-weight: bold;

}
form{
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bold;
}
